html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 13pt;
  font-family: 'Karma', serif;
  font-weight: 400;
}

h2.section-header {
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
  font-weight: 300;
}

/* new header  - start*/
.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1em;
}
.page-logo {
  margin-top: 3em;
  height: 6em;
}
.main-header {
  font-weight: 300;
  margin: 0;
  margin-top: 1em;
  font-size: 3em;
}
.page-header .slogan {
  padding: 0 2em;
  font-weight: 300;
}
/* new header  - end*/

/*footer - start*/
.page-footer {
  width: 100%;
  background-color: #24c89f;
  color: #fff;
  text-align: center;
  margin-top: 10em;
  text-align: center;
}
.page-footer p {
  margin: 2em;
}

.page-footer a {
  text-decoration: none;
  color: #fff;
}
/*footer - end*/

/*menu - start*/

.page-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-menu ul {
  list-style: none;
} 

.page-menu li {
  display: inline-block;
}

@media (max-width: 35em) {
  .page-menu li {
    margin-bottom: 1em;
    display: block;
  }
}

@media (min-width: 35em) {
  .page-menu li {
    display: inline-block;
  }
}

.page-menu a {
  text-decoration: none;
  width: 8em;
  display: inline-block;
  text-align: center;
  border-style: solid;
  padding: 1em;
  border-width: 0 0 0.5em 0;
  margin: 0 1em;
}

.page-menu .regular-menu-link {
  color: #000;
  background-color: #eee;
  border-color: #aaa;
}

.page-menu .regular-menu-link:hover {
  color: #aaa;
  background-color: #fff;
  border-color: #ddd;
}

.page-menu .featured-menu-link {
  color: #fff;
  background-color: #24c89f;
  border-color: #208a6f;
}

.page-menu .featured-menu-link:hover {
  color: #fff;
  background-color: #37ffcd;
  border-color: #33e4b7;
}

/*menu - end*/

/* characteristics - start */

.characteristics-bg {
  /*background-color: #24c89f;
  color: #fff;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characteristics {
  display: flex;
}

.characteristics a {
  padding: 0.1em 0.3em;
  text-decoration: none;
  color: #fff;
  background-color: #24c89f;
}

.characteristics a:hover {
  padding: 0.1em 0.3em;
  text-decoration: none;
  color: #fff;
  background-color: #37ffcd;
}

@media (min-width: 56em) {
  .characteristics {
    flex-direction: row;
  }
  .single-characteristic {
    max-width: 15em;
    height: 10em;
  }                      

}
@media (max-width: 56em) {
  .characteristics {
    flex-direction: column;
  }
}
.single-characteristic {

  padding: 1em;
}                      

/* characteristics - end */

/* 101 steps - start */

.r101-step-description {
  background-color: #24c89f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.r101-step .r101-description-container {
  margin: 2em;
  max-width: 30em;
}

.r101-step .r101-step-description h3 {
  font-size: 3em;
  display: inline-block;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.r101-step .r101-step-description p {
}

.r101-step {
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
}

.r101-step, .screencast-container {
  box-shadow: 30px 50px 60px -30px rgba(0, 0, 0, 0.7);
}

.r101-step-content {
  background: url(img/screenshot_bg.jpg);
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.r101-step-content img {
  max-width: 100%;
  max-height: 25em;
}

.r101-step-description, .r101-step-content {
  overflow: hidden;
}

.r101-step-content {
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 66em) {

  .r101-step-lr .r101-step-description {
    flex-basis: 40%;
    align-items: flex-end;
  }

  .r101-step-rl .r101-step-description {
    flex-basis: 40%;
    align-items: flex-start;
  }

  .r101-step-lr .r101-step-content, .r101-step-rl .r101-step-content {
    flex-basis: 60%;
  }

  .r101-step {
    height: 25em;
  }

  .r101-step-lr {
    flex-direction: row;
  }

  .r101-step-rl {
    flex-direction: row-reverse;
  }

}

@media (max-width: 66em) {

  .r101-step-description {
    align-items: center;
  }

  .r101-step-lr, .r101-step-rl {
    flex-direction: column-reverse;
  }

}

 
/* 101 steps - end */
